body{
    background-color: #0f4d92;
}
#parent{ 
    display: inline-flex;
    position: absolute;
}
img {
    /* z-index: -1; */
    display: block;
    max-height: 70vh;
    border-radius: 10px;
}

#nav{
    background-color: white;
    border: 2px solid #0ABAB5;
    border-radius: 10px;
    border-top: none;
    font-size: 8px;
    position: absolute;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: darkgray;
    width: 0;
    min-width: 100%;
    bottom: 0px;
}

p{
    text-align: center;
    
}

.center {
    text-align: center;
    background-color: white;
    margin: 10px 0 0 0;
    display: block;
}

i:hover {
    color: blue;
}

i::after {
    color: blue;
}